html {
  font-size: 10px;
}

body {
  display: -webkit-flex;
  display:         flex;
  flex-direction: column;
  min-height: 100vh;

  @extend %font-prim;
  // @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

h1 {
  text-align: center;

  // @include font($size: 2.5rem, $height: 3.5rem);
}

.overflow-hidden {
  overflow: hidden;
}

.main {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: auto;
}

.container-none {
  display: none;
}
