html {
  font-size: 10px;
}

body {
  display: -webkit-flex;
  display:         flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);

  @extend %font-prim;
}

h1 {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.main {
  min-height: 100vh;
  padding-top: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding-top: 20px;
  &--hidden {
    display: none;
  }
}
