$color-background-body: #d0caca4d;
$color-border-textarea: #945e5e;
$color-background-keyboard: #b9b9b930;
$color-border-keyboard: #00000042;
$color-border-button: #33292554;
$color-background-button: #b9b9b9cf;
