.categories__wrapper {
  position: relative;

  width: 300px;
  height: 300px;
  margin: 5px;
  overflow: hidden;

  background: white;
  border-radius: 10px;
  box-shadow: 0;
  transform: scale(0.95);

  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1);
  }

  .category {
    width: 100%;
    height: 100%;

    cursor: pointer;

    &__description {
      font-size: 2rem;
    }

    &__picture {
      position: absolute;
      right: 10px;
      bottom: 14px;

      display: inline-block;
      width: 30px;
      height: 30px;

      background: url("../assets/svg/volume.svg") center/30px no-repeat;
    }

    .top {
      width: 100%;
      height: 80%;

      background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg)
      no-repeat center center;
      -webkit-background-size: 100%;
         -moz-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
    }

    .bottom {
      display: flex;
      justify-content: center;
    }
  }

  .inside {
    position: absolute;
    top: -70px;
    right: -70px;
    z-index: 9;

    width: 140px;
    height: 140px;
    overflow: hidden;

    background: #92879b;
    border-radius: 0 0 200px 200px;
    cursor: pointer;

    transition: all 0.5s, border-radius 2s, top 1s;
    .icon {
      position: absolute;
      top: 85px;
      right: 85px;

      width: 30px;
      height: 30px;

      color: white;

      background: url("../assets/svg/eye.svg") center/30px no-repeat;
      opacity: 1;
    }
    &:hover {
      top: 0;
      right: 0;

      width: 100%;
      height: 80%;

      border-radius: 0;
      .icon {
        top: 15px;
        right: 15px;

        opacity: 0;
      }
      .contents {
        transform: scale(1);
        transform: translateY(0);
        opacity: 1;
      }
    }
    .contents {
      padding: 5%;

      transform: scale(0.5);
      transform: translateY(-200%);
      opacity: 0;

      transition: opacity 0.2s, transform 0.8s;
      .category__translation {
        display: flex;
        justify-content: center;
        align-items: bottom;
        margin-top: 70px;

        font-size: 2rem;
      }
    }
  }
}
