.footer {
  position: sticky;
  bottom: 0;

  height: 47px;

  background-color: #ff9295;

  &__play {
    background-color: #6fc57c;
    .toggle {
      &:before {
        color: rgba(62, 160, 81, 0.89);
      }
      &:after {
        color: #ffffff;
      }
    }
  }

  .btn-play {
    position: absolute;
    top: 4px;
    left: 68px;
    z-index: 2;

    display: none;
    width: 80px;
    height: 33px;

    font-size: 1.8rem;
    color: #ffffff;

    background-color: #b0dbb6;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    &--active {
      display: block;
    }
  }
}
