.header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  // border-bottom: 6px solid #323746;

  background-color: #ff9295;

  transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);

  &__play {
    background-color: #6fc57c;
    .toggle {
      &:before {
        color: rgba(62, 160, 81, 0.89);
      }
      &:after {
        color: #ffffff;
      }
    }
  }

  &__title {
    z-index: 1;

    flex-basis: 100%;
  }
}
