.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  &__text {
    padding: 0 10px;

    font-size: 2.5rem;
    text-align: center;
  }

  &__field {
    padding: 30px;
  }

  &__input {
    width: 250px;
    height: 50px;
    padding: 5px;

    font-size: 2.5rem;
    text-overflow: ellipsis;

    border: 1px solid #989191;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &::placeholder {
      font-size: 1.5rem;
      text-align: center;

      transform: translate3d(0, -5px, 0);
      opacity: 0.4;
    }

    &:focus:invalid {
      background-color: #ff343442;
    }
    &:focus:valid {
      background-color: #5dde5d42;
    }

    &-invalid {
      border: 1px solid #f57d77e6;
    }

    &-valid {
      border: 1px solid #5dde5d42;
    }
  }
}
