.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  // padding: 0 200px;

  transform: translate3d(-50%, -50%, 0);
  &:before {
    content: "TRAIN";
    position: absolute;
    top: 11px;
    left: -100px;

    font-size: 18px;
    color: #ffffff;
  }

  &:after {
    content: "PLAY";
    position: absolute;
    top: 11px;
    right: -90px;

    font-size: 18px;
    color: rgba(58, 16, 17, 0.31);
  }

  label {
    position: relative;

    display: inline-block;
    width: 40px;
    height: 40px;

    background-color: #fd1015;
    border-radius: 50px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0 9px 15px 0 #ef4247;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 22px;
      height: 22px;

      background-color: #fd0f14;
      border-radius: 46px;
      box-shadow: inset 0 0 0 8px #ffffff;
      transform: translate(-50%, -50%);

      transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
    }
  }

  input {
    display: none;

    &:checked + label {
      background-color: #d28ce6;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0 9px 15px 0 rgba(87, 3, 132, 0.541176);

      &:before {
        width: 10px;

        background-color: #ffffff;
      }
    }
  }
}
